adal==1.2.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==35.0.0
idna==3.3
msal==1.16.0
office365-rest-client==2.2.0
Office365-REST-Python-Client @ git+https://github.com/vgrem/Office365-REST-Python-Client.git@5bf74f964b5c735ce38744d9f018f71247ccfc6b
pycparser==2.20
PyJWT==2.3.0
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
urllib3==1.26.7